/*-- scss:defaults --*/
//$h1-font-size:          1.2rem !default;
//$h2-font-size:          1rem !default;
//$h3-font-size:          0.8rem !default;
//$headings-font-weight:  700 !default;
$body-color:            $gray-700 !default

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
}

